<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.offclass.dao.OffclassMapper"> 
	<insert id="insertListOffTime" parameterType="offTimetableVO">
		INSERT INTO off_timetable(
							time_num,
							off_num,
							time_date,
							time_start,
							time_end)
							SELECT off_timetable_seq.nextval, A.*
							FROM
						(
						<foreach collection="list" item="item" index="index" separator="UNION ALL">
							SELECT
							#{item.off_num} AS off_num,
							#{item.time_date} AS time_date,
							#{item.time_start} AS time_start,
							#{item.time_end} AS time_end
							FROM DUAL
						</foreach>
						) A
	</insert>
	<insert id="insertOffClass" parameterType="offclassVO">
	INSERT INTO offclass (off_num,
						category_num,
						off_name,
						off_limit,
						off_price,
						off_content,
						off_filename,
						off_uploadfile,
						user_num
						) 
						VALUES 
						(
						#{off_num},
						#{category_num},
						#{off_name},
						#{off_limit},
						#{off_price},
						#{off_content},
						#{off_filename},
						#{off_uploadfile},
						#{user_num}
						)
	</insert>
	<select id="selectListOffClass" parameterType="map" resultType="offclassVO">
	SELECT
		  *
		FROM (SELECT 
		       a.*,
		       rownum rnum
		      FROM (SELECT 
		               <![CDATA[
		               REPLACE(REPLACE(o.off_name,'<','&lt;'),'>','&gt;') off_name,
		               ]]>
		               o.off_price,
		               o.category_num,
		               d.name,
		               o.off_filename,
		               o.off_num
		            FROM offclass o
		            JOIN ouser_detail d
		            ON o.user_num = d.user_num
		            ORDER BY o.off_num DESC)a)
	   <![CDATA[
	   WHERE rnum >= #{start} AND rnum <= #{end}
	   ]]>	            
	</select>
	
	<select id="selectRowCount" parameterType="map" resultType="integer">
	SELECT
		COUNT(*)
	FROM offclass o
	JOIN ouser_detail d
	ON o.user_num = d.user_num
	</select>
	<update id="updateOffClass" parameterType="offclassVO">
	UPDATE offclass 
		SET 
		category_num=#{category_num},
		off_name=#{off_name},
		off_price=#{off_price},
		off_content=#{off_content}
		<if test="off_filename!=''">
		,off_filename=#{off_filename},off_uploadfile=#{off_uploadfile}
		</if>
		 WHERE off_num=#{off_num}
	</update>
</mapper>







